<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Pin user</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.pin_user %></td>
        <td><%= comment.body %></td>
      </tr>
      <% end %>
  </tbody>

<div class="edit">
<%= link_to edit_comment_path(comment) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
          </div>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
