<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Cambiar la contrase単a</h2>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "Nueva contrase単a" %>
        <%= f.password_field :password, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar nueva contrase単a" %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="form-group">
        <%= f.submit "Cambiar mi contrase単a", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>